Micro/Micro Lab/___/flows-2.json
[
    {
        "id": "3217b9be319e0a63",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83ea18c1f0d3f0f4",
        "type": "ui_gauge",
        "z": "3217b9be319e0a63",
        "name": "Default",
        "group": "47a5315a19a80a86",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Humid",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "2c78d69949655168",
        "type": "ui_gauge",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "f02b5441a38642be",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Tempp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "897a1915917ca23c",
        "type": "mqtt in",
        "z": "3217b9be319e0a63",
        "name": "",
        "topic": "TAWUN",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ffdd2651ee9e6f0b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "b2beaca36de81c25",
                "b93a7e6769b16a34"
            ]
        ]
    },
    {
        "id": "b2beaca36de81c25",
        "type": "function",
        "z": "3217b9be319e0a63",
        "name": "function H",
        "func": "var myArray = msg.payload.split(\",\");\nvar hTemp = myArray[1].split(\"=\");\nmsg.payload = hTemp[1];\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "83ea18c1f0d3f0f4",
                "3341b5298eb985d2",
                "6699147ff2b07fd2"
            ]
        ]
    },
    {
        "id": "b93a7e6769b16a34",
        "type": "function",
        "z": "3217b9be319e0a63",
        "name": "function T",
        "func": "var myArray = msg.payload.split(\",\");\nvar tTemp = myArray[0].split(\"=\");\nmsg.payload = tTemp[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "2c78d69949655168",
                "3341b5298eb985d2",
                "79e09d5e723ff480"
            ]
        ]
    },
    {
        "id": "3341b5298eb985d2",
        "type": "debug",
        "z": "3217b9be319e0a63",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "6699147ff2b07fd2",
        "type": "ui_chart",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "47a5315a19a80a86",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "H Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#126eaf",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "79e09d5e723ff480",
        "type": "ui_chart",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "47a5315a19a80a86",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "T chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f5eabbe7690aae",
        "type": "ui_button",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "482cf024435e0273",
        "order": 4,
        "width": "6",
        "height": "6",
        "passthru": false,
        "label": "ON1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "166f8a4b69591f29",
                "3aa504d89ad7a9a4"
            ]
        ]
    },
    {
        "id": "166f8a4b69591f29",
        "type": "mqtt out",
        "z": "3217b9be319e0a63",
        "name": "",
        "topic": "/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffdd2651ee9e6f0b",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "e55747a8a07c4853",
        "type": "ui_button",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "482cf024435e0273",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "166f8a4b69591f29",
                "3aa504d89ad7a9a4"
            ]
        ]
    },
    {
        "id": "3aa504d89ad7a9a4",
        "type": "ui_led",
        "z": "3217b9be319e0a63",
        "order": 3,
        "group": "47a5315a19a80a86",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "66eb9bbe4266f993",
        "type": "ui_button",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "482cf024435e0273",
        "order": 4,
        "width": "6",
        "height": "6",
        "passthru": false,
        "label": "ON2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "d3c2b72610f6b928",
                "acd6179aca9a7504"
            ]
        ]
    },
    {
        "id": "d3c2b72610f6b928",
        "type": "mqtt out",
        "z": "3217b9be319e0a63",
        "name": "",
        "topic": "/LedControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffdd2651ee9e6f0b",
        "x": 590,
        "y": 820,
        "wires": []
    },
    {
        "id": "acd6179aca9a7504",
        "type": "ui_led",
        "z": "3217b9be319e0a63",
        "order": 3,
        "group": "47a5315a19a80a86",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "3",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 920,
        "wires": []
    },
    {
        "id": "b10bcbd83bcc124e",
        "type": "ui_button",
        "z": "3217b9be319e0a63",
        "name": "",
        "group": "482cf024435e0273",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 860,
        "wires": [
            [
                "d3c2b72610f6b928",
                "acd6179aca9a7504"
            ]
        ]
    },
    {
        "id": "47a5315a19a80a86",
        "type": "ui_group",
        "name": "Default",
        "tab": "04ea3e8a989ec54a",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f02b5441a38642be",
        "type": "ui_group",
        "name": "Default",
        "tab": "04ea3e8a989ec54a",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffdd2651ee9e6f0b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "482cf024435e0273",
        "type": "ui_group",
        "name": "LedControl",
        "tab": "04ea3e8a989ec54a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04ea3e8a989ec54a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]